<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<link rel="stylesheet" type="text/css" href="sync.css" />
	<title>SCM Sync</title>
</h:head>
<h:body>

	<h:form rendered="#{login.authenticated}">
		<p class="sync_action sync_logoff">
			<h:commandButton id="scm_logout" value="Log off" action="#{login.logout}" immediate="true" rendered="#{login.authenticated}" />
		</p>
	</h:form>

	<h2>Current configuration settings</h2>

	<h:form>
		<h:messages styleClass="faces_message" layout="table" />


		<div class="sync_input_section">
			Repository:

			<p class="info">The git repository (either ssh, http or https). For ssh make sure you have configured a ssh key exchange; for http
				the user and password should be set in the configuration file.</p>

			<div class="sync_value">
				<h:inputText id="scm_repository" value="#{configuration.repository}" required="true"
					requiredMessage="You need to specify a repository URL." maxlength="150" />
			</div>
		</div>

		<div class="sync_input_section">
			Sync folder:

			<p class="info">The full path to the folder to synchronize.</p>

			<div class="sync_value">
				<h:inputText id="scm_folder" value="#{configuration.folder}" required="true" requiredMessage="A folder for synchronization is required."
					maxlength="150" />
			</div>
		</div>

		<div class="sync_input_section">
			Config location:

			<p class="info">The location of the configuration file. Modifying the path will move the current one.</p>

			<div class="sync_value">
				<h:inputText id="scm_location" title="Change location: " value="#{configuration.configLocation}" required="true"
					requiredMessage="The location for the configuration file is required." maxlength="150" />
			</div>
		</div>

		<div class="sync_input_section">
			Includes:

			<p class="info">List of includes (comma separated; regexp or exact match). Leave empty to include all.</p>

			<div class="sync_value">
				<h:inputText id="scm_include" value="#{configuration.include}" maxlength="150" />
			</div>
		</div>

		<div class="sync_input_section">
			Excludes:

			<p class="info">List of excludes processed after processing the includes.</p>

			<div class="sync_value">
				<h:inputText id="scm_exclude" value="#{configuration.exclude}" maxlength="150" />
			</div>
		</div>

		<div class="sync_input_section">
			Cron schedule (<a href="http://www.sauronsoftware.it/projects/cron4j/manual.php#p02">info</a>):

			<div class="sync_value">
				<h:inputText id="scm_schedule" value="#{configuration.schedule}" required="true"
					requiredMessage="Specify a valid cron pattern for synchronization." maxlength="40" />
			</div>
		</div>

		<div class="sync_apply_section">
			<h:commandButton id="save" value="Save" action="#{syncer.restart}" styleClass="sync_primary_button" />
			<h:commandButton value="Apply">
				<f:ajax execute="scm_repository scm_folder scm_include scm_exclude scm_location scm_schedule" render="@all" />
			</h:commandButton>
			&nbsp;
			<h:commandButton id="scm_reset" value="Reset" type="reset" immediate="true" />
		</div>

		<div class="sync_action">
			Next run will be at:
			<h:outputText id="scm_nextRun" value="#{configuration.nextRun}" />
		</div>

		<p class="sync_action">
			<h:commandButton id="scm_sync" value="Sync Now" action="#{syncer.startSync}" styleClass="sync_primary_button" />
		</p>

	</h:form>
</h:body>
</html>