<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<link rel="stylesheet" type="text/css" href="sync.css" />
	<title>SCM Sync login</title>
</h:head>
<h:body>
	<h:form>
		<h3>Login to SCM Sync</h3>

		<h:messages styleClass="faces_message" layout="table" />

		<div class="sync_input_section">
			Username:

			<p class="info">Please input the username here.</p>

			<div class="sync_value">
				<h:inputText id="scm_username" value="#{login.user}" required="true" requiredMessage="A username is required." maxlength="50" />
			</div>
		</div>

		<div class="sync_input_section">
			Password:

			<p class="info">Please input the password here.</p>

			<div class="sync_value">
				<h:inputSecret id="scm_password" value="#{login.password}" required="true" requiredMessage="A password is required." maxlength="50" />
			</div>
		</div>

		<h:commandButton action="#{login.validateLogin}" value="Login"></h:commandButton>
	</h:form>
</h:body>
</html>