<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<link rel="stylesheet" type="text/css" href="sync.css" />
	<title>SCM Sync</title>
</h:head>
<h:body>

	<h2>Synchronisation status</h2>

	<h3>Current status</h3>
	<h:form>
		<h:inputTextarea id="scm_status" title="Settings" cols="80" rows="8" disabled="true" value="#{syncer.status}" />
		<br />

		<p:poll interval="2" listener="#{syncer.updateStatus}" update="scm_status" stop="#{syncer.finished}" />
	</h:form>

	<h:form>
		<p class="sync_action">
			<h:commandButton value="Refresh" action="sync" />
			<h:commandButton value="Back" action="index?faces-redirect=true" />
		</p>
	</h:form>

	<h3>Changes in last commit</h3>
	<pre>#{syncer.syncChanges}</pre>

	<h3>Last commits</h3>
	<pre>#{syncer.syncLog}</pre>

</h:body>
</html>