@CHARSET "UTF-8";

.info {
	font-weight: normal;
	font-style: italic;
	font-size: 80%;
	color: rgb(100, 150, 150);
	margin: 5px 0px 0px 0px;
}

.sync_input_section {
	font-weight: bold;
	margin: 5px 0px 0px 0px;
}

.sync_value {
	
}

.sync_action.sync_logoff {
    float: right;
    margin-top: -5px;
    margin-right: 20px
}

.sync_action {
	font-weight: bold;
}

.sync_apply_section {
	padding: 16px 32px;
}

.sync_primary_button {
	background-color: #2C2F50 !important;
	font-weight: bold;
}

.faces_message {
	background-color: #FF8F60;
	border: thin;
	color: whitesmoke;
	padding: 6px 35px;
	font-weight: bold;
	margin: 10px 20px 20px 15px;
}

html.progress, html.progress * {
	cursor: progress !important;
}

input[type=text], input[type=password] {
	width: 60%;
	padding: 8px 12px;
	margin: 8px 0;
	box-sizing: border-box;
	font-size: 100%;
}

input[type=text]:focus, input[type=password]:focus {
	border: 3px solid #555;
}

input[type=button], input[type=submit], input[type=reset] {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}